<h1>Editing password_update</h1>

<% form_for(@password_update) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :new_password %><br />
    <%= f.text_field :new_password %>
  </p>
  <p>
    <%= f.label :new_password_confirmation %><br />
    <%= f.text_field :new_password_confirmation %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
